@charset "UTF-8";
.taobao .nav {
  background: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
.taobao .nav .bnav {
  display: flex;
  text-align: center;
  align-items: center;
}
.taobao .nav .bnav h2 {
  width: 190px;
  font-size: 16px;
  font-family: "宋体";
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  background: #ff5000;
}
.taobao .nav .bnav ul {
  display: flex;
}
.taobao .nav .bnav ul li {
  position: relative;
}
.taobao .nav .bnav ul li::before {
  display: none;
  content: "\e674";
  font-family: iconfont;
  color: #ff5000;
  top: -10px;
  position: absolute;
  left: 50%;
  font-size: 18px;
  margin-left: -11px;
}
.taobao .nav .bnav ul li:hover::before {
  display: block;
}
.taobao .nav .bnav ul li .icon-fengexian {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.taobao .nav .bnav ul li a {
  display: block;
  color: #fff;
  padding: 0 5px;
  font-weight: 700;
  font-size: 14px;
  font-family: "宋体";
  line-height: 30px;
}
.taobao .nav .bnav .brand {
  width: 219px;
  display: flex;
  justify-content: space-around;
}
.taobao .nav .bnav .brand li a {
  font-size: 16px;
}
.taobao .nav .bnav .theme {
  width: 354px;
  display: flex;
  justify-content: space-around;
}
.taobao .nav .bnav .life {
  width: 337px;
  display: flex;
  justify-content: space-around;
}
.taobao .main .container {
  height: 530px;
  display: flex;
}
.taobao .main .container .main-l .main-l-t {
  display: flex;
  background: #fff;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 188px;
  border: 1px solid #ff5000;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 3px;
  font-family: arial;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 32px;
  height: 32px;
  justify-content: center;
  position: relative;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li:hover {
  background: #ffe4dd;
  color: #f40;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li:hover a {
  color: #f40;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li a {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li a:hover {
  text-decoration: underline;
}
.taobao .main .container .main-l .main-l-t .main-l-t-service .service-menu li i {
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 2px;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l {
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  background: #f5f5f5;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-t {
  font-size: 0;
  height: 280px;
  width: 520px;
  overflow: hidden;
  position: relative;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-t .bannerImg {
  /* 图片轮播1 */
  position: absolute;
  width: 2700px;
  left: 0;
  display: flex;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-t .banner-nav {
  /* 图片轮播3 */
  border-radius: 10px;
  position: absolute;
  bottom: 15px;
  height: 13px;
  text-align: center;
  font-size: 0;
  left: 50%;
  margin-left: -32px;
  background: rgba(255, 255, 255, 0.3);
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-t .banner-nav li {
  width: 8px;
  height: 8px;
  float: left;
  display: block;
  margin: 3px;
  border-radius: 50%;
  background: #fff;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-t .banner-nav li.active {
  background: #f40;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t {
  font-size: 14px;
  height: 18px;
  padding-top: 11px;
  border-bottom: 3px solid #ff1648;
  background-color: #f1f1f1;
  position: relative;
  font-size: 12px;
  color: #666;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t em {
  line-height: 18px;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t .tmall-num {
  position: absolute;
  right: 0;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t .tmall-bar {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  display: flex;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t .tmall-bar li {
  width: 87px;
  height: 3px;
  background: #ff1648;
  overflow: hidden;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-t .tmall-bar li:first-child {
  background: #000;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b {
  width: 520px;
  overflow: hidden;
  height: 201px;
  background: #fff;
  position: relative;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con {
  width: 5000px;
  overflow: hidden;
  display: flex;
  position: absolute;
  left: 0;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con li {
  width: 520px;
  display: flex;
  justify-content: space-around;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con li:nth-child(1), .taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con li:nth-child(7) {
  margin: 23px 0;
}
.taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con li:nth-child(2), .taobao .main .container .main-l .main-l-t .main-l-t-banner .banner-l .banner-l-b .tmall-b .tmall-b-con li:nth-child(3) {
  margin: 10px 0;
}
.taobao .main .container .main-l .banner-column {
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  background: #f5f5f5;
}
.taobao .main .container .main-l .banner-column .banner-column-c {
  height: 32px;
}
.taobao .main .container .main-l .banner-column .banner-column-c p {
  font-size: 12px;
  background: #f1f1f1;
  color: #a1a1a1;
  line-height: 24px;
  padding-top: 8px;
}
.taobao .main .container .main-r {
  float: right;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.taobao .main .container .main-r .main-r-t .main-r-register {
  margin-top: 10px;
  width: 290px;
  height: 145px;
  background: #fff;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-t {
  position: relative;
  height: 91px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-t > a {
  margin-top: 6px;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: url(../images/register.jpg);
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-t p {
  line-height: 18px;
  font-size: 12px;
  color: #3C3C3C;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-t p a {
  display: inline-block;
  border-radius: 9px;
  background: #ffe4db;
  padding: 0 10px 0 20px;
  color: #f40;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-b {
  height: 40px;
  margin-top: 10px;
  padding-left: 15px;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-b a {
  display: inline-block;
  width: 75px;
  height: 25px;
  background: #f40;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}
.taobao .main .container .main-r .main-r-t .main-r-register .register-b a:nth-child(1) {
  width: 90px;
}
.taobao .main .container .main-r .main-r-t .main-r-info {
  position: relative;
}
.taobao .main .container .main-r .main-r-t .main-r-info a {
  display: inline-block;
  width: 208px;
  height: 26px;
  padding-left: 82px;
  color: #f40;
  line-height: 26px;
  background: #ffe4dd;
}
.taobao .main .container .main-r .main-r-t .main-r-info i {
  position: absolute;
  right: 52px;
  top: 0px;
  font-size: 26px;
  color: #f40;
}
.taobao .main .container .main-r .main-r-t .main-r-notice {
  height: 98px;
  padding-top: 10px;
  width: 290px;
  background: #fff;
}
.taobao .main .container .main-r .main-r-t .main-r-notice ul li a {
  color: #3C3C3C;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-t ul {
  height: 24px;
  margin-top: 4px;
  padding: 0 8px;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-t ul li {
  float: left;
  line-height: 20px;
  width: 32px;
  text-align: center;
  margin: 0 11px;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-t ul .select {
  font-weight: 700;
  border-bottom: 2px solid #f40;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b {
  height: 65px;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b ul {
  margin: 0 12px;
  height: 50px;
  overflow: hidden;
  padding-top: 9px;
  padding-bottom: 6px;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b ul li {
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b ul li a {
  width: 130px;
  height: 25px;
  overflow: hidden;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b ul li .attention {
  color: #f40;
}
.taobao .main .container .main-r .main-r-t .main-r-notice .notice-b ul .select a:first-child {
  width: 200px;
}
.taobao .main .container .main-r .main-r-b {
  width: 290px;
  font-size: 12px;
}
.taobao .main .container .main-r .main-r-b ul {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-top: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  /* width: 294px; */
}
.taobao .main .container .main-r .main-r-b ul li {
  width: 70px;
  height: 75px;
  border: 1px solid #f4f4f4;
  border-right-color: transparent;
  border-top-color: transparent;
}
.taobao .main .container .main-r .main-r-b ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.taobao .main .container .main-r .main-r-b ul li i {
  font-size: 24px;
  margin-top: 11px;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(1) i, .taobao .main .container .main-r .main-r-b ul li:nth-child(8) i {
  color: #9c7dff;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(2) i, .taobao .main .container .main-r .main-r-b ul li:nth-child(7) i {
  color: #f0b527;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(3) i {
  color: #27dccf;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(4) i {
  color: #b3ce03;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(5) i, .taobao .main .container .main-r .main-r-b ul li:nth-child(11) i {
  color: #d29285;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(6) i, .taobao .main .container .main-r .main-r-b ul li:nth-child(9) i {
  color: #ff29cc;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(10) i {
  color: #ff1269;
}
.taobao .main .container .main-r .main-r-b ul li:nth-child(12) i {
  color: #9d90e0;
}

.arrow a {
  position: absolute;
  display: none;
  padding-top: 8px;
  height: 22px;
  width: 20px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
.arrow a i {
  font-size: 20px;
  align-self: center;
  color: #fff;
}

.arrow .toLeft a {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
}
.arrow .toRight a {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  right: 0;
}

/*# sourceMappingURL=index.css.map */
