.search_books{
    .main{
        background:#fff;
        .main_topSearch{
            // display:flex;
            padding-top:17px;
            width:940px;
            .logo{
                a{
                    display: block;
                    float: left;
                    width: 108px;
                    height: 43px;
                    background: url(../images/logo.png) center no-repeat;
                    text-indent: -108px;
                    white-space: nowrap;
                    overflow: hidden;
                    //margin-top:17px;
                }
            }
            .search_inner{
                margin-top:8px;
                height:35px;
                float: right;
                .search_innerbox{
                        float: left;
                        display:flex; 
                        border: solid 2px #f50;
                        border-right: none;
                        height: 31px;
                        width:601px;
                        overflow: hidden;
                        .tab{
                            font-size:12px;
                            position: relative;
                            width: 67px;
                            overflow: hidden;
                            height: 31px;
                            line-height: 31px;
                            border-right: solid 1px #e5e5e5;
                            border-left: solid 1px #f5f5f5;
                            .triggers{
                                text-indent: 15px;
                                color: #6b6b6b;
                                .trigger.selected{
                                    background: #f5f5f5; 
                                }
                            }
                            i{
                                width: 7px;
                                height: 4px;
                                position: absolute;
                                right: 8px;
                                top: 13px;
                                background: url(../images/taobao_icons.png);
                                background-repeat: no-repeat;
                                background-position: -296px -423px;
                            }
                        }
                        .inputs{
                            width:530px;
                            input{
                                    width: 495px;
                                    padding-left: 5px;
                                    font-size: 14px;
                                    font-family: "宋体";
                                    //vertical-align: middle;
                                    border: 0;
                                    color: #000;
                                    line-height: 31px;
                            }
                        }
                        .camera{
                            span{
                                margin-top:5px;
                                margin-right:5px;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                background-image: url(../images/camera.png);
                                background-size: 20px 45px;
                                background-position: 0 0;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                .submit{
                    float: left;
                    width: 80px;
                    height: 35px;
                    border: none;
                    cursor: pointer;
                    background: url(../images/taobao_icons.png);
                    background-repeat: no-repeat;
                    background-position: -125px -58px;
                    font-size: 0;
                }
            }
        }
        .main-inner{
            .main_left{
                float: left;
                width: 940px;
                .top_content{
                    width:100%;
                    .tabs{
                        // width:100%;
                        margin-top: 15px;
                        // height: 38px;
                        border-bottom: 2px solid #f40;
                        font-size: 16px;
                        display:flex;
                        .tab{
                            a{
                                display: block;
                                height: 38px;
                                line-height: 38px;
                                padding: 0 20px;
                                font-size: 16px;
                                font-family:arial;
                                color: #333;
                                &:hover{
                                    background: #f40;
                                    color: #fff;                                    
                                }
                            }
                            .select{
                                background: #f40;
                                color: #fff;
                            }
                        }
                        
                    }
                    .category{
                            margin-top: 10px;
                            .cat_hd{
                                margin-left: 20px;
                                .show-expand{
                                    float: right;
                                    margin: 0 0 0 4px;
                                    height: 24px;
                                    line-height: 24px;
                                    border: 1px solid #e8e8e8;
                                    padding: 0 9px;
                                    background: #f6f6f6;
                                    color: #6b6b6b;
                                    cursor: pointer;
                                    text-decoration: none;
                                    div{
                                        .arrow{
                                            width: 7px;
                                            height: 4px;
                                            display:inline-block;
                                            //font-size: 0;
                                            background: url(../images/taobao_icons.png);
                                            background-repeat: no-repeat;
                                            background-position: -279px -423px;
                                        }
                                        span{
                                            &:hover{
                                                color: #f40;
                                            }
                                        }
                                    }
                                    .collapse{
                                        display:none;
                                        .arrow{
                                            background-position: -412px -322px;
                                        }
                                    }
                                }
                                .cat-text{
                                    line-height:26px;
                                    color: #666;
                                }
                                .icon-right{
                                    display:inline-block;
                                    background: url(../images/taobao_icons.png);
                                    background-repeat: no-repeat;
                                    background-position: -111px -423px;
                                    width: 5px;
                                    height: 9px;
                                    margin-left:-2px;
                                    line-height:26px;
                                }
                            }
                            .cat_bd{
                                margin-top: 11px;
                                position: relative;
                                display:none;
                                .cat_bd_con{
                                    padding: 0 8px;
                                    width:922px;
                                    height:38px;
                                    //height:108px;
                                    overflow:hidden;
                                    border: 1px solid #e8e8e8;
                                    display:flex;
                                    .head{
                                        width:100px;
                                        text-align: center;
                                        font-size:12px;
                                        color:#999;
                                        line-height:38px;
                                    } 
                                    .body{
                                        width:710px;
                                        //overflow: scroll;
                                        .items{
                                            .items_inner{
                                                a{
                                                    display:inline-block;        
                                                    margin: 12px 40px 0 0;
                                                    height: 18px;
                                                    color: #000;
                                                    &:hover{
                                                        color:#f40;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .foot{
                                        span{
                                            position: absolute;
                                            right: 10px;
                                            top:12px;
                                            height: 18px;
                                            padding-right: 10px;
                                            cursor: pointer;
                                            display:none;
                                            &:hover{
                                                color:#f40;
                                            }
                                            .icon{
                                                margin-left:-4px;
                                                width: 7px;
                                                height: 4px;
                                                display:inline-block;
                                                background: url(../images/taobao_icons.png);
                                                background-repeat: no-repeat;
                                                background-position: -279px -423px; 
                                            }
                                            .icon-up{
                                                background-position: -412px -322px;
                                            }
                                        }
                                        .down{
                                            display: inline-block;
                                        }

                                    }
                                }
                               
                            }
                            .cat-related{
                                margin-top: 10px;
                                .inner{
                                    display: flex;
                                    height: 18px;
                                    padding: 12px 19px;
                                    color: #9a9a9a;
                                    border: 1px solid #e8e8e8;
                                  
                                    font-size:12px;

                                    .inner_title{
                                        width:100px;
                                        color: #9a9a9a;
                                    }
                                    .item{
                                        a{
                                            color: #6c6c6c;
                                            margin-left: 20px;
                                            &:hover{
                                                color:#f40;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                            .cat_choice{
                                margin-top: 10px;
                            }
                        }
                }
                .main_goods{
                    display:flex;
                    flex-wrap: wrap;
                    margin-right: -17px;
                    .goods_item{
                        //float:left;
                        margin-top: 22px;
                        margin-right: 17px;
                        width: 220px;
                        height: 360px;
                        border: 1px solid #ededed;
                        &:hover{
                            border-color: #f40;
                        }
                        .pic_box{
                            width: 220px;
                            height: 220px;
                            position: relative;
                            .pic{
                                display:block;
                                img{
                                    width: 220px;
                                    height: 220px;                                    
                                }
                            }
                            .similars{
                                position: absolute;
                                bottom: 0px;
                                //bottom: -30px;
                                height: 30px;
                                width:100%;
                                //z-index:-1;
                                line-height: 30px;
                                
                                display:none;
                                .bar{
                                    width: 1px;
                                    height: 100%;
                                    position: absolute;
                                    right: 50%;
                                    top: 0;
                                    background: #f66d27;
                                    opacity: 0.8;
                                }
                                a{
                                    float:left;
                                    width:50%;
                                    height:100%;
                                    text-align: center;
                                    color: #fff;
                                    background: #f40;
                                    opacity: 0.8;
                                }
                                .disabled{
                                    color: #fba187;

                                }
                            }
                        }
                        .ctx-box{
                            padding: 0 10px;
                            .row-1{
                                margin-top: 11px;
                                //padding: 0 10px;
                                height: 22px;
                                line-height: 22px;
                                // display:flex;
                                // justify-content:space-between;
                                .price{
                                    font-family: arial;
                                    float: left;
                                    font-size: 18px;
                                    color: #f40;
                                    span{
                                        font-size: 18px;
                                    }
                                    strong{
                                        font-weight: 700;
                                    }
                                }
                                .deal-cnt{
                                    color: #888;
                                    float: right;
                                    font-size:12px;
                                }
                                .ship{
                                    display: inline-block;
                                    width: 27px;
                                    height: 14px;
                                    margin-top: 4px;
                                    margin-left: 2px;
                                    background: url(../images/items.png);
                                    background-repeat: no-repeat;
                                    background-position: -42px -139px;
                                }
                            }
                            .row-2{
                                height:36px;
                                margin-top: 6px;
                                // width:220px;
                                overflow: hidden;
                                a{
                                    color: #3d3d3d;
                                    overflow: hidden;
                                    &:hover{
                                        color:#f40;
                                        text-decoration: underline;
                                    }
                                }
                            }
                            .row-3{
                                margin-top: 5px;
                                height: 22px;
                                line-height: 22px;
                                font-size:12px;
                                .shop{

                                    .shopname{
                                        float: left;
                                        i{
                                            color: #f40;
                                            font-size:12px;
                                        }
                                        span{
                                            color: #888;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                .location{
                                    float: right;
                                    color: #888;
                                }

                            }
                            .row-4{
                                padding: 0 10px 0 6px;
                                margin-top: 10px;
                                height: 20px;
                                .icons{
                                    width: 180px;
                                    // float: left;
                                    .icon{
                                        float: left;
                                        margin-right: 10px;
                                        font-size: 0;
                                        .icon_hot{
                                            margin-left:-6px;
                                            display: inline-block;
                                            background: url(../images/items.png);
                                            background-repeat: no-repeat;
                                            width: 49px;
                                            height: 16px;
                                            background-position: -5px -113px;
                                        }
                                        .icon_tmall{
                                            margin-left:-6px;
                                            display: inline-block;
                                            background: url(../images/items.png);
                                            background-repeat: no-repeat;
                                            width: 16px;
                                            height: 16px;
                                            background-position: -213px -199px;
                                        }
                                    }
                                    
                                }
                                .wangwang{
                                        float: right;
                                        //display: inline-block;
                                        background: url(../images/taobao_icons.png);
                                        background-repeat: no-repeat;
                                        width: 16px;
                                        height: 16px;
                                        font-size:0;
                                        background-position: -435px -86px;
                                    }
                            }
                        }
                    }                       
                }
                .main_page{
                    overflow: hidden;
                    position: relative;
                    margin: 20px;
                    padding: 10px 0;
                    height: 37px;
                    .inner{
                        width: 650px;
                        margin:0 auto;
                        display: flex;
                        
                        //height:37px;
                        .items{
                            display: flex;
                            font-family:arial;
                            .item{
                                // margin-left: -1px;
                                width: 35px;
                                border:1px solid #ededed;
                                height: 35px;
                                text-align: center;
                                line-height: 35px;
                                cursor: pointer;
                                &:hover{
                                        border-color: #f40;
                                    }
                                &:hover a{
                                        color: #f40;
                                    }    
                                .num{
                                    display: inline-block;
                                    width: 100%;
                                    color: #3e3e3e;
                                    font-size: 14px;
                                    span{
                                        font-size: 16px;
                                        color: #3e3e3e;
                                    }
                                }
                            }
                            .direction{
                                width: 70px;
                                font-weight: 400;
                            }
                            .prev{
                                margin-right: 6px;
                                margin-left: 0;
                            }
                            .active{
                                background: #f40;
                                
                                border-color: #f40;
                                cursor: default;
                                text-decoration: none;
                                .num{
                                    color: #fff;
                                }
                            }
                            .dot {
                                border: none;
                                line-height: 37px;
                                width: 24px;
                                cursor: default;
                            }
                        }
                        .total{
                            line-height: 37px;
                            margin-left: 10px;
                            color: #999;
                            font-size:12px;
                        }
                        .form{
                            color: #999;
                            // line-height: 37px;
                            .text {
                                margin-left: 5px;
                                line-height: 37px;
                            }
                            input{
                                width: 35px;
                                border: solid 1px #ededed;
                                height: 21px;
                                text-align: center;
                                color: #999;
                            }
                            .page_submit{
                                display:inline-block;
                                height: 21px;
                                width: 43px;
                                border: 1px solid #ededed;
                                border-radius: 2px;
                                text-align: center;
                                line-height: 21px;
                                cursor: pointer;
                                color: #000;
                                &:hover{
                                    border-color:#f40;
                                    color:#f40;
                                }
                            }
                        }
                    }
                }
            }
            .main_right{
                float:right;
                margin-left: 10px;
                width: 240px;
                .right-wrap{
                    position: relative;
                    .top_title{
                        position: relative;
                        padding-top: 9px;
                        height: 34px;
                        line-height: 34px;
                        border-bottom: 1px solid #E8E8E8;
                        margin-bottom: 13px;
                        a{
                            font-weight: 600;
                            font-size: 16px;
                            color: #555;
                        }
                        .ad{
                            float: right;
                            position: relative;
                            background: url(../images/ad.png) 0 0;
                            width: 26px;
                            height: 16px;
                            right: 0px;
                            top: 8px;
                        }
                    }
                    .hot_items{
                        .hot_item{
                            border: 1px solid #e5e5e5;
                            margin-bottom: 10px;
                            position: relative;
                            &:hover{
                                border-color:#f40;
                            }
                            .img{
                                width:238px;
                                overflow: hidden;
                                //background-color: #fff;
                                text-align: center;
                            }
                            .info{
                                display:block;
                                height: 18px;
                                line-height: 18px;
                                margin: 5px 10px;
                                .tmall{
                                    margin-right: 6px;
                                    margin-top: 2px;
                                    display: inline-block;
                                    background: url(../images/items.png);
                                    background-repeat: no-repeat;
                                    width: 16px;
                                    height: 16px;
                                    background-position: -213px -199px;
                                }
                                .yuan,
                                strong{
                                    color: #f40;
                                    font:18px Verdana,Arial;
                                    height: 18px;                               
                                }
                                strong{
                                    font-weight:700;
                                }
                                .sell{
                                    color: #999;
                                    float: right;
                                    margin-top:2px;
                                }
                            }
                            .feedback{
                                position: absolute;
                                bottom: 63px;
                                left: 0;
                                height: 24px;
                                width: 100%;
                                display: none;
                                cursor: pointer;
                                z-index: 1;
                                a{
                                    width: 118px;
                                    background: white;
                                    float: left;
                                    text-align: center;
                                    color: #454545;
                                    opacity: 0.9;
                                    height: 24px;
                                    line-height: 24px;
                                    position: relative;
                                }
                                .like{
                                    border-right:2px solid #e5e5e5;
                                }
                                .bar{
                                    width:218px;
                                    padding: 0 10px;
                                    height:33px;
                                    border-top:1px solid #e5e5e5;
                                    border-bottom:1px solid #e5e5e5;
                                    line-height:35px;
                                    overflow: hidden;
                                    background: white;
                                    opacity: 0.9;
                                    p{
                                        // line-height:5px;
                                        font-size:12px;
                                        font-weight: 700;
                                        color: #555;
                                    }
                                }
                                
                            }
                        }
                    }
                    .ft{
                        a{
                            position: absolute;
                            right: 10px;
                            width: 66px;
                            height: 25px;
                            border-radius: 1px;
                            background: #F40;
                            color: #FFF;
                            text-align: center;
                            text-decoration: none;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}